.track-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.track-slider-appearance {
    appearance: none;
    width: 100%;
    height: 19px;
    background: #3b3c3d;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 15px;
}

.track-slider-appearance::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #59c9a0;
    border-radius: 15px;
}

.track-slider-appearance::-moz-range-thumb {
    width: 23px;
    height: 23px;
    background: #04AA6D;
    border-radius: 15px;
}