#track-station-container {
    background-color: aqua;
    height: 100%;
}

#tracks-and-stems {
    background-color: red;
    flex-direction: column;
    margin-top: 135px;
    height: 100%;
    overflow: auto;
}

#tracks-and-stems::-webkit-scrollbar {
    display: none;
}