#work-station-container {
    height: 100vh;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
}

#work-station-container::-webkit-scrollbar {
    display: none;
}

#print-tracks {
    position: fixed;
    z-index: 100;
}

#add-tracks {
    position: fixed;
    z-index: 100;
    top: 20px;
}